body {
	background: rgba(0, 0, 0, .9);
	width: 1920px;
	height: 1200px;
	font-family: "Lucida Sans";
	font-size: 14px;
	color: #fff;
}

.notification {
	position: absolute;
	background: rgb(30, 30, 30);
	-webkit-border-radius: 25px;
	-webkit-box-shadow: 0px 0px 200px #067799;
	width: 500px;
	height: 100px;
	top: 450px;
	padding: 50px;
	right: 660px;
}

h1 {
	color: #fff;
}

p {
	color: rgb(200, 200, 200);
}

.icon, .content {
	float: left;
}

.content {
	margin: 0px 0px 0px 30px;
}